<div id="page-wrapper" >
    <div id="page-inner">
        <hr />
        <div><h3 class = 'text-center'>PRODUCT LIST</h3></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {{#if admin}}
                    <div class = "editButton2"><a href = "/products/add"><span class="fa fa-plus"></span></a></div>
                {{/if}}    
                <hr/>
                <form>
                    <input id = "searchBar" type = "text" name = "product"></input>
                </form>
                <table class="table" id="productList">
                    <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Category Name</th>
                        {{#if admin}}
                            <th>Edit/Delete</th>
                        {{/if}}
                    </tr>
                    {{#if admin}}
                        {{#product}}
                        <tr>
                                <td>{{prod_id}}</td>
                                <td>{{prod_name}}</td>
                                <td>{{cat_name}}</td>

                                <td><div class = "editButtons"><a href = "/products/getProd/{{prod_id}}"><span class="fa fa-edit"></span></a><a href = '/products/delProd/{{prod_id}}'><span class="fa fa-trash-o"></span> </a></div></td>
                        </tr>
                        {{/product}}
                    {{else}}
                        {{#product}}
                        <tr>
                                <td>{{prod_id}}</td>
                                <td>{{prod_name}}</td>
                                <td>{{cat_name}}</td>
                        </tr>
                        {{/product}}
                    {{/if}}
                </table>
            </div>

        </div>

    </div>
</div>

