<div id="page-wrapper" >
    <div id="page-inner">
        <hr />
        <div><h3 class = 'text-center'>SALES HISTORY</h3></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                {{#if admin}}
                    <div class = "editButton2"><a href = "/sales/add"><span class="fa fa-plus"></span></a></div>
                {{/if}}    
                <hr/>
                <form>
                    <input class = "searchBar"id = "saleSearchBar" type = "text" name = "sales"></input>
                </form>
                <table class="table" id = "saleList">
                    <tr>
                        <th>Sale ID</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>Quantity</th>
                        <th>Sale Price</th>
                        {{#if admin}}
                            <th>Edit/Delete</th>
                        {{/if}}    
                    </tr>
                    {{#if admin}}
                        {{#sales}}
                        <tr>
                            <td>{{sale_id}}</td>
                            <td>{{prod_name}}</td>
                            <td>{{date}}</td>
                            <td>{{qtySold}}</td>
                            <td>{{salePrice}}</td>
                            <td><div class = "editButtons"><a href = "/sales/getSale/{{sale_id}}"><span class="fa fa-edit"></span></a><a href = '/sales/delSale/{{sale_id}}'><span class="fa fa-trash-o"></span> </a></div></td>
                        </tr>
                        {{/sales}}
                    {{else}}
                        {{#sales}}
                        <tr>
                            <td>{{sale_id}}</td>
                            <td>{{prod_name}}</td>
                            <td>{{date}}</td>
                            <td>{{qtySold}}</td>
                            <td>{{salePrice}}</td>
                        </tr>
                        {{/sales}}    
                    {{/if}}    
                </table>
            </div>

        </div>

    </div>
</div>
