<!-- Here is the handlebars page for the sales history list
    fetching the information from the db to the webpage
    displaying what was sold so far-->
<div id="page-wrapper" >
    <div id="page-inner">
        <!--<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class = "data-title">Nelisa Spaza Inc</h1>
                <p>Welcome to Nelisa Spaza Inc Inventory System</p>
            </div>
        </div>-->

        <hr />
        <div><h3 class = 'text-center'>SALES HISTORY</h3></div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div><button><a href = "/addSales">Add a Sale</a></button></div>
                <table class="table">
                    <tr>
                        <th>Sale ID</th>
                        <th>Product</th>
                        <th>Date</th>
                        <th>Quantity</th>
                        <th>Sale Price</th>
                    </tr>
                    {{#sales}}
                    <tr>
                        <td>{{sale_id}}</td>
                        <td>{{prod_name}}</td>
                        <td>{{date}}</td>
                        <td>{{qtySold}}</td>
                        <td>{{salePrice}}</td>
                        <td><button><a href = "/sales/getSale/{{sale_id}}">Edit</a></button><button><a href = '/sales/delSale/{{sale_id}}'>Delete</a>
                        </button></td>
                    </tr>
                    {{/sales}}
                </table>
            </div>

        </div>

    </div>
</div>
